@font-face{
    font-family: 'Montserrat';
    src: url(../assets/fonts/Montserrat/Montserrat-Light.ttf);
    font-weight: 400;
}

@font-face{
    font-family: 'Montserrat';
    src: url(../assets/fonts/Montserrat/Montserrat-Medium.ttf);
    font-weight: 700;
}

@font-face{
    font-family: 'Montserrat';
    src: url(../assets/fonts/Montserrat/Montserrat-Black.ttf);
    font-weight: 900;
}